<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/adminjs/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/adminjs/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/default.min.css" />

    <link rel="stylesheet" href="/assets/css/admin.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/img/logo/logo.png" />
    <script>
        function toggleBlockUnblock(button) {
            const confirmation = confirm('Are you sure you want to toggle the block/unblock for this user?');
            if (confirmation) {
                if (button.innerText === "Block") {
                    button.innerText = "Unblock";
                    button.classList.remove("btn-primary");
                    button.classList.add("btn-danger");
                } else {
                    button.innerText = "Block";
                    button.classList.remove("btn-danger");
                    button.classList.add("btn-primary");
                }
            }
            return false;
        }
    </script>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets/img/logo/logo.png" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/img/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="/assets/productImages/profileforAdmin.jpeg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                            <span>Gold Member</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-onepassword  text-info"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-calendar-today text-success"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/adminHome}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listUsers}" >
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title">USER </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listProducts}" >
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title">PRODUCT </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/category-list}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                    <span class="menu-title">CATEGORY</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/SubCategory-list}">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
                    <span class="menu-title">SUBCATEGORY</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/orderList}">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">ORDERS</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/sales-report}">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">SALES REPORT</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/categoryOfferList}">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">OFFER </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/couponList}">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">COUPON </span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="form-inline" th:action="@{/admin/searchCategory}" method="get">
                            <div class="row justify-content-end">
                                <div class="col-md-12 col-lg-12 col-xl-12 d-flex">
                                    <div class="form-group">
                                        <input style="max-width: 300px;" id="searchTerm" type="text" name="searchTerm" required class="form-control form-control-dark text-bg-dark" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="/assets/productImages/profileforAdmin.jpeg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>

                            <div class="dropdown-divider"></div>
                            <a th:href="@{/logout}"  class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

<!--                                <div>-->
<!--                                    <h4 class="card-title">CATEGORY MANAGEMENT</h4>-->
<!--                                    <a class="btn btn-primary" th:href="@{/admin/addCategory}">Add</a>-->
<!--                                </div>-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    Add
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document" >
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form th:action="@{/admin/addCategory/{id}(id=${categoryAdd.id})}" method="post" th:object="${categoryAdd}" onsubmit="return validateForm()">

                                                <div class="modal-body">
                                                    <input type="text" name="inputValue" th:field="*{name}" style="width: 100%;background: black;color: white" id="inputField">
                                                    <p id="nameError" style="display: none;color: red" ></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>


                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 50px;">Row No</th> <!-- Adjust the width as needed -->
                                            <th style="width: 300px;"> <!-- Adjust the width as needed -->
                                                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                                                    Category Name
                                                </a>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="category, rowStat : ${category}">
                                            <td th:text="${rowStat.index + 1}"></td> <!-- Add row number -->
                                            <td style="width: 300px;"> <!-- Adjust the width as needed -->
                                                <span th:text="${category.name}" class="py-1"></span>
                                            </td>
                                            <td class="action-buttons">
<!--                                                <div>-->
<!--                                                    <a th:href="@{/admin/updateCategory/{id}(id=${category.id})}" type="button" class="btn btn-warning btn-fw custom-small-button" fdprocessedid="mq2w9o">Update</a>-->
<!--                                                </div>-->
                                                <button type="button" class="btn btn-warning btn-fw custom-small-button" data-toggle="modal" th:data-target="'#updateModal_' + ${category.id}">
                                                    Update
                                                </button>

                                            </td>
                                            <div class="modal fade" th:id="'updateModal_' + ${category.id}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="updateModalLabel">Update Category</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form th:action="@{/admin/updateCategory/{id}(id=${category.id})}" method="post" onsubmit="return validateForm1('update_category_${category.id}', 'nameError_${category.id}')">
                                                            <div class="modal-body">
<!--                                                                <input type="text" class="form-control" name="name" th:value="${category.name}" id="update_category_${category.id}" />-->
<!--                                                                <div id="nameError_${category.id}" style="display: none; color: red;"></div>-->
                                                                <input type="text" class="form-control" name="name" th:value="${category.name}" id="update_category_${category.id}" />
                                                                <div id="nameError_${category.id}" style="display: none; color: red;"></div>


                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <td>
                                                <div>

                                                    <form th:action="@{/admin/blockCategory/{id}(id=${category.id})}" method="get">
                                                        <input type="hidden" name="_method" value="put">
                                                        <button type="button" class="btn bg-gradient-warning btn-fw custom-small-button blockBtn" fdprocessedid="mq2w9o" th:if="${category.isListed()}" onclick="confirmAction('block', this)">Unblock</button>
                                                    </form>
                                                    <form th:action="@{/admin/unblockCategory/{id}(id=${category.id})}" method="get">
                                                        <input type="hidden" name="_method" value="put">
                                                        <button type="button" class="btn bg-gradient-danger btn-fw custom-small-button unblockBtn" fdprocessedid="mq2w9o" th:if="${!category.isListed()}" onclick="confirmAction('unblock', this)">Lock</button>
                                                    </form>


                                                </div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->

    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->/
<!-- plugins:js -->
<script src="/assets/adminjs/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/adminjs/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/adminjs/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/adminjs/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/adminjs/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/adminjs/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/adminjs/js/off-canvas.js"></script>
<script src="/assets/adminjs/js/hoverable-collapse.js"></script>
<script src="/assets/adminjs/js/misc.js"></script>
<script src="/assets/adminjs/js/settings.js"></script>
<script src="/assets/adminjs/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/adminjs/js/dashboard.js"></script>

<!-- End custom js for this page -->
<script>
    var inputField = document.getElementById('inputField');
    var nameError = document.getElementById('nameError');

    inputField.addEventListener('input', function() {
        validateForm();
    });

    function validateForm() {
        if (inputField.value.trim() === '') {
            nameError.innerHTML = 'Category Name is required';
            nameError.style.display = 'block';
            return false;
        } else if (inputField.value.length < 4) {
            nameError.innerHTML = 'Category Name should have at least 4 letters';
            nameError.style.display = 'block';
            return false;
        }else if (inputField.value.length > 10) {
            nameError.innerHTML = 'Category Name should not be more than 10 letters';
            nameError.style.display = 'block';
            return false;
        }else if (/\d/.test(inputField.value)) {
            nameError.innerHTML = 'Category Name should not contain numbers';
            nameError.style.display = 'block';
            return false;
        } else {
            nameError.style.display = 'none';
            return true;
        }
    }
</script>
<script>
    function validateForm1(inputFieldId, errorDivId) {
        var inputField = document.getElementById(inputFieldId);
        var nameError = document.getElementById(errorDivId);

        if (inputField.value.trim() === '') {
            nameError.innerHTML = 'Category Name is required';
            nameError.style.display = 'block';
            return false;
        } else if (inputField.value.length < 4) {
            nameError.innerHTML = 'Category Name should have at least 4 letters';
            nameError.style.display = 'block';
            return false;
        } else if (inputField.value.length > 10) {
            nameError.innerHTML = 'Category Name should not be more than 10 letters';
            nameError.style.display = 'block';
            return false;
        } else if (/\d/.test(inputField.value)) {
            nameError.innerHTML = 'Category Name should not contain numbers';
            nameError.style.display = 'block';
            return false;
        } else {
            nameError.style.display = 'none';
            return true;
        }
    }

</script>
<script>
    window.onload = function() {
        if (window.location.href.indexOf('error=DuplicateCategory') !== -1) {
            alertify
                .alert("Category already created", function(){
                    alertify.message('OK');
                });
            const newURL = window.location.href.replace(/([&?]error=DuplicateCategory\b(?!=[^&]*&))(?:[?&]|$)/, '');
            history.replaceState(null, null, newURL);
        }
    };
</script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');
    const errorMessage = urlParams.get('error');

    document.addEventListener('DOMContentLoaded', function () {
        if (successMessage) {
            showAlert('success', successMessage);
        } else if (errorMessage) {
            showAlert('error', errorMessage);
        }
    });

    function showAlert(type, message) {
        if (type === 'success') {
            alertify.success(message);
        } else {
            alertify.error(message);
        }

        // Remove the 'success' and 'error' parameters from the URL
        const newURL = removeQueryParam('success');
        const newerURL = removeQueryParam('error');
        history.replaceState(null, null, newerURL);
    }

    function removeQueryParam(paramToRemove) {
        const url = window.location.href;
        const urlParts = url.split('?');
        if (urlParts.length >= 2) {
            const prefix = encodeURIComponent(paramToRemove) + '=';
            const query = urlParts[1].split('&').filter(function(item) {
                return !item.startsWith(prefix);
            }).join('&');
            return urlParts[0] + (query ? '?' + query : '');
        }
        return url;
    }
    function showAlert2(action) {
        let message;
        let formId;

        if (action === 'Unblock') {
            message = 'Category unblocked successfully!';
            formId = 'unblockForm';
        } else if (action === 'Lock') {
            message = 'Category locked successfully!';
            formId = 'blockForm';
        }


        alertify.confirm(message, function (confirmed) {
            if (confirmed) {
                alertify.success('OK');

                document.getElementById(formId).submit();
            } else {
                alertify.error('Cancelled');
            }
        }).set('labels', {ok: 'OK', cancel: 'Cancel'});
    }

</script>
<script>
    function confirmAction(action, button) {
        let message;
        if (action === 'block') {
            message = 'Are you sure you want to unblock this category?';
        } else if (action === 'unblock') {
            message = 'Are you sure you want to lock this category?';
        }

        alertify.confirm(message, function (result) {
            if (result) {
                performAction(action, button);
            } else {

            }
        }).set('labels', {ok:'Yes', cancel:'No'});
    }

    function performAction(action, button) {
        const form = button.closest('form');

        if (form) {
            form.submit();
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>