<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/adminjs/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/adminjs/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/adminjs/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/admin.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <style>
        /* delivery progress bar  */

        :-moz-any-link:focus {
            outline: 0
        }

        #progressbar {
            margin-bottom: 3vh;
            overflow: hidden;
            color: #000;
            padding-left: 0;
            margin-top: 3vh
        }

        #progressbar li {
            list-style-type: none;
            font-size: .8rem;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
            color: #000
        }
        #progressbar li {
            list-style-type: none;
            font-size: .8rem;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
            color: #000
        }

        #progressbar #step1:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-left: 0 !important
        }

        #progressbar #step2:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-left: 32%
        }

        #progressbar #step3:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-right: 32%
        }

        #progressbar #step4:before {
            content: "";
            color: rgb(151, 149, 149, .651);
            width: 20px;
            height: 20px;
            margin-right: 0 !important
        }

        #progressbar li:before {
            line-height: 29px;
            display: block;
            font-size: 12px;
            background: #d1d1d1;
            border-radius: 50%;
            margin: auto;
            z-index: -1;
            margin-bottom: 1vh
        }

        #progressbar li:after {
            content: '';
            height: 3px;
            background: #d1d1d1;
            position: absolute;
            left: 0;
            right: 0;
            margin-bottom: 2vh;
            top: 8px;
            z-index: 1
        }

        .progress-track {
            padding: 0 8%
        }

        #progressbar li:nth-child(2):after {
            margin-right: auto
        }

        #progressbar li:nth-child(1):after {
            margin: auto
        }

        #progressbar li:nth-child(3):after {
            float: left;
            width: 68%
        }

        #progressbar li:nth-child(4):after {
            margin-left: auto;
            width: 132%
        }

        #progressbar li.active:after,
        #progressbar li.active:before {
            background: #fc8019
        }
        .delete-button {
            background-color: transparent;
            border: 2px solid red;
            color: red;
            padding: 10px 15px;
            text-decoration: none;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            display: inline-block;
            border-radius: 5px; /* Adjust the corner radius as needed */
        }

        .delete-button:hover {
            background-color: red;
            color: white;
            text-decoration: none;
            border-color: darkred; /* Change border color on hover if desired */
        }

        #progressbarCancel {
            margin-bottom: 3vh;
            overflow: hidden;
            color: #000;
            padding-left: 0;
            margin-top: 3vh
        }

        #progressbarCancel li {
            list-style-type: none;
            font-size: .8rem;
            width: 50%;
            float: left;
            position: relative;
            font-weight: 400;
            color: #000
        }
        #progressbarCancel li {
            list-style-type: none;
            font-size: .8rem;
            width: 50%;
            float: left;
            position: relative;
            font-weight: 400;
            color: #000
        }

        #progressbarCancel #step1:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-left: 0 !important
        }

        #progressbarCancel #step2:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-left: 32%
        }

        #progressbarCancel #step3:before {
            content: "";
            color: #000;
            width: 20px;
            height: 20px;
            margin-right: 32%
        }

        #progressbarCancel #step4:before {
            content: "";
            color: rgb(151, 149, 149, .651);
            width: 20px;
            height: 20px;
            margin-right: 0 !important
        }

        #progressbarCancel li:before {
            line-height: 29px;
            display: block;
            font-size: 12px;
            background: #d1d1d1;
            border-radius: 50%;
            margin: auto;
            z-index: -1;
            margin-bottom: 1vh
        }

        #progressbarCancel li:after {
            content: '';
            height: 3px;
            background: #d1d1d1;
            position: absolute;
            left: 0;
            right: 0;
            margin-bottom: 2vh;
            top: 8px;
            z-index: 1
        }

        .progress-track {
            padding: 0 8%
        }

        #progressbarCancel li:nth-child(2):after {
            margin-right: auto
        }

        #progressbarCancel li:nth-child(1):after {
            margin: auto
        }

        #progressbarCancel li:nth-child(3):after {
            float: left;
            width: 68%
        }

        #progressbarCancel li:nth-child(4):after {
            margin-left: auto;
            width: 132%
        }

        #progressbarCancel li.active:after,
        #progressbarCancel li.active:before {
            background: red;
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                            <span>Gold Member</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-onepassword  text-info"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-calendar-today text-success"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
                    <span class="menu-title">Basic UI Elements</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/forms/basic_elements.html">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title">Form Elements</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/tables/basic-table.html">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                    <span class="menu-title">Tables</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/charts/chartjs.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
                    <span class="menu-title">Charts</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">Icons</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
                    <span class="menu-title">User Pages</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
                    <span class="menu-title">Documentation</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <input type="text" class="form-control" placeholder="Search products">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                            <h6 class="p-3 mb-0">Projects</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-file-outline text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Software Development</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-web text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">UI Development</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-layers text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Software Testing</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">See all projects</p>
                        </div>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-view-grid"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-email"></i>
                            <span class="count bg-success"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Messages</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                                    <p class="text-muted mb-0"> 15 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                                    <p class="text-muted mb-0"> 18 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">4 new messages</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count bg-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Event today</p>
                                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-link-variant text-warning"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Launch Admin</p>
                                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">See all notifications</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">Advanced settings</p>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <h1 class="mt-4">Manage Order</h1>
                            <div class="row">
                                <form th:object="${orderItem}" style="width: 100%;background-color: white;color:black ">
                                    <div class="col-lg-12 my-1 mx-auto" >
                                        <div style="padding-bottom:1.5rem;" class="col-lg-8  cart-wrap ftco-animate mx-auto" >
                                            <div class="cart-total mb-3" >

                                                <div class="card-header d-flex justify-content-between w-100 ">
                                                    <div class="d-flex flex-column w-100">
                                                        <p th:text="${orderItem.orderStatus}">ORDER PLACED</p>
                                                        <!--                                    <p class="mt-3" th:text="${#temporals.format(purchaseOrder.orderDate.plusHours(24),  'yyyy-MM-dd hh:mm a')}"></p>-->
                                                    </div>

                                                </div>
                                                <hr class="m-0 mb-1">
                                                <div>

                                                </div>
                                                <div class="card-body row col-12 d-flex pt-5">
                                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                                        <img class="image-popup" th:src="${'/assets'+orderItem.product.productImages[0].imageName}" style="width: 100%;" alt="" src="">
                                                        <p class="card-text"></p>
                                                    </div>
                                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                                        <h3 class="card-title" th:text="${orderItem.product.productName}"></h3>
                                                        <p class="card-text">
                                                        <p style="font-size: 16px;">Quantity: <b th:text="${orderItem.getOrderItemCount()}">2</b></p>
                                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                                        </p>
                                                        <p style="font-size: 18px;">Amount: <b class="card-title mb-2" th:text="'₹' + ${orderItem.product.price * orderItem.getOrderItemCount() }">₹ 5000</b></p>

                                                        <p style="font-size: 20px;">Order Status: <b th:text="${orderItem.orderStatus}"></b></p>

                                                    </div>
                                                </div>
                                                <div class="pt-4">
                                                    <div th:with="orderAddress=${orderItem.order.address}">
                                                        <label class="p-3 border rounded-4 m-2 custom-label" style="width: 100%;">
                                                            <div class="form-check d-flex align-items-center mx-4">
                                                                <div class="mx-3 mx-md-5">
                                                                    <p class="text-dark">
                                                                        <b><span th:text="${orderAddress.userName}"></span></b>,
                                                                        <span th:text="${orderAddress.city}"></span>, <span th:text="${orderAddress.state}"></span>,<span th:text="${orderAddress.country}"></span>
                                                                                                                                <span>Contact: <i class="fa-thin fa-mobile"></i>
                                                                                <b style="color: #043a6c;">
                                                                                    <span style="font-size: 13px;" th:text="${orderAddress.mobile}"></span>
                                                                                </b>
                                                                            </span>
                                                                    </p>

                                                                    <p th:text="${orderAddress.address}"></p>

                                                                    <p th:text="${orderAddress.pinCode}"></p>

                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>


                                                <div  th:unless="${orderItem.orderStatus == 'cancelled' or orderItem.orderStatus == 'delivered'}" style="display: flex; justify-content: flex-end;background-color: #fdfdfd" class="pt-4">
                                                    <a th:href="@{'/admin/cancel-order/'+${orderItem.orderItemId}}" class="btn delete-button py-3 px-4 my-4">Cancel Order</a>
                                                </div>
                                                <div class="progress-track  pt-4" th:unless="${orderItem.orderStatus == 'cancelled'}">
                                                    <ul id="progressbar">
                                                        <li style="font-size: 12px;" class="step0 active " id="step1"  >Order placed
                                                        </li>
                                                        <li style="font-size: 12px;"
                                                            class="step0 text-center "
                                                            id="step2"
                                                            th:classappend="${orderItem.orderStatus == 'shipped' or orderItem.orderStatus == 'out for delivery' or orderItem.orderStatus == 'delivered'} ? 'active' : ''">
                                                            Shipped</li>
                                                        <li style="font-size: 12px;"
                                                            class="step0  text-right"
                                                            th:classappend="${orderItem.orderStatus == 'out for delivery' or orderItem.orderStatus == 'delivered'} ? 'active' : ''"
                                                            id="step3">Out for Delivery</li>
                                                        <li style="font-size: 12px;"
                                                            class="step0 text-right " th:classappend="${orderItem.orderStatus == 'delivered'} ? 'active' : ''"
                                                            id="step4">Delivered</li>
                                                    </ul>
                                                </div>
                                                <div class="progress-track" th:if="${orderItem.orderStatus == 'cancelled'}">
                                                    <h2 class="text-center text-danger">Order Cancelled</h2>
                                                    <ul id="progressbarCancel">
                                                        <li style="font-size: 12px;" class="step0 active text-danger" id="step1" >Order placed
                                                        </li>
                                                        <li style="font-size: 12px;"
                                                            class="step2 active text-danger text-right"
                                                            id="step4">Cancelled</li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div th:if="${orderItem.orderStatus != 'cancelled' and orderItem.orderStatus != 'delivered'}">
                                <form th:action="@{'/admin/updateStatus/' + ${orderItem.orderItemId}}" method="POST" class="pt-4">
                                    <label>
                                        <select name="selectedStatus">
                                            <option value="Order Placed">Order Placed</option>
                                            <option value="shipped">Shipped</option>
                                            <option value="out for delivery">Out For Delivery</option>
                                            <option value="delivered">Delivered</option>
                                        </select>
                                    </label>
                                    <button type="submit" class="btn btn-primary">Update Order Status</button>
                                </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->

    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->/
<!-- plugins:js -->
<script src="/assets/adminjs/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/adminjs/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/adminjs/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/adminjs/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/adminjs/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/adminjs/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/adminjs/js/off-canvas.js"></script>
<script src="/assets/adminjs/js/hoverable-collapse.js"></script>
<script src="/assets/adminjs/js/misc.js"></script>
<script src="/assets/adminjs/js/settings.js"></script>
<script src="/assets/adminjs/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/adminjs/js/dashboard.js"></script>
<!-- End custom js for this page -->
<script>
    function showConfirmation(event) {
        console.log("being calledd")
        event.preventDefault(); // Prevent the default form submission behavior

        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to cancel this order?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user confirms, manually submit the form
                event.target.submit(); // This submits the form
            }
        });

        return false; // Ensure the form doesn't submit by default
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>