<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .container{
            display: flex;
            justify-content: center;
        }

        .reset-form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            max-width: 400px;
        }

        .reset-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<!--<div class="container">-->
<!--    <div class="reset-form">-->
<!--        <h2>Reset Password</h2>-->
<!--        &lt;!&ndash; Add your reset password form here &ndash;&gt;-->
<!--        <form th:action="@{/main/resetPassword}" method="post" onsubmit="return validateForm()">-->
<!--            <div class="form-group">-->
<!--                <label for="password">New Password</label>-->
<!--                <input type="password" id="password" name="password" class="form-control" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" title="Password must contain at least one digit, one lowercase and one uppercase letter, and be at least 8 characters long." oninput="validatePassword()">-->
<!--                <p id="password-error" style="color: red;"></p>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="confirmPassword">Confirm Password</label>-->
<!--                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>-->
<!--            </div>-->
<!--            <div th:if="${error != null}" class="alert alert-danger" role="alert">-->
<!--                <p th:text="${error}"></p>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="reset-form">

        <!-- Check if the reset is successful and show a success message -->
        <div th:if="${success}">
            <div class="alert alert-success" role="alert">
                <p>Password reset successful!</p>
                <a th:href="@{/main/login}">Back login Page</a>
            </div>
        </div>
        <!-- If reset is not successful, show the password reset form -->
        <div th:unless="${success}">
            <h2>Reset Password</h2>
            <form th:action="@{/main/resetPassword}" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="form-control" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" title="Password must contain at least one digit, one lowercase and one uppercase letter, and be at least 8 characters long." oninput="validatePassword()">
                    <p id="password-error" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>
<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword) {
            alert("Password and Confirm Password do not match");
            return false;
        }
        return true;
    }

    function validatePassword() {
        var passwordInput = document.getElementById("password");
        var passwordError = document.getElementById("password-error");
        var password = passwordInput.value;
        var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

        if (!pattern.test(password)) {
            passwordError.textContent = "Password does not meet the criteria.";
        } else {
            passwordError.textContent = ""; // Clear the error message if the pattern is matched.
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
