<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">

<style>
    .warning {
        color: #FFA500; /* Set text color to orange */
        /* Add any other styles for the 'warning' class */
    }

    /* Define the styles for the 'success' class */
    .success {
        color: #008000; /* Set text color to green */
        /* Add any other styles for the 'success' class */
    }
    .block-27 ul {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap if they exceed the container width */
        justify-content: center; /* Center the items horizontally */
        list-style: none; /* Remove default list styles */
        padding: 0;
        margin: 0;
    }

    .block-27 ul li {
        margin: 0 5px; /* Add spacing between pagination items */
    }

    /* Ensure buttons are displayed inline */
    .block-27 ul li a,
    .block-27 ul li span {
        display: inline-block;
        padding: 5px 10px; /* Adjust padding as needed */
        /* Additional styling for buttons if needed */
        /* Example: border: 1px solid #ccc; */
    }
</style>
</head>

<body>
<header>

    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/user/products}">shop</a></li>
                                <li th:if="${not #authorization.expression('isAuthenticated()')}">
                                    <a th:href="@{/login}">Login</a>
                                </li>
                                <li><a th:href="@{/user/viewCart}">Cart</a></li>
                                <li><a th:href="@{/user/wishlist}">Wishlist</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li> <a th:href="@{/pro/profile}"><span class="flaticon-user"></span></a></li>
                            <li><a th:href="@{/user/viewCart}"><span class="flaticon-shopping-cart"></span></a> </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>


<section  style="background-color: rgba(192,194,193,0.73);">


<main class="container"     >

        <div class="row">

            <div class="col-lg-12">


                <div class="card mt-5 mb-5">

                    <div class="card-body">
                        <!-- Your existing HTML content -->

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a
                                                th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                                            No
                                        </a>
                                    </th>
                                    <th>
                                        <a
                                                th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                                            Date
                                        </a>
                                    </th>
                                    <th>
                                        <a
                                                th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                                            Amount
                                        </a>
                                    </th>
                                    <th> Payment</th>
                                    <th> Status </th>
                                    <th>Order status</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderItem, stat : ${orderItemsList}" style="align-items: center">
                                    <td th:text="${stat.index + 1}" class="large-text"></td>
                                    <td th:text="${orderItem.order.orderedDate}" class="large-text"></td>
                                    <td th:if="${orderItem.getOrderedPrice()}" th:text="${orderItem.getOrderedPrice() * orderItem.orderItemCount}"
                                        class="large-text"></td>
                                    <td th:unless="${orderItem.getOrderedPrice()}" th:text="${orderItem.product.getPrice() * orderItem.orderItemCount}"></td>
<!--                                    <td th:text="${orderItem.order.paymentStatus}" class="large-text"></td>-->
                                    <td th:text="${orderItem.order.paymentStatus}"
                                        th:class="${orderItem.order.paymentStatus == 'pending'} ? 'warning' : (${orderItem.order.paymentStatus == 'success'} ? 'success' : '')"
                                        class="large-text">
                                    </td>


                                    <td th:text="${orderItem.order.paymentMethod.PaymentMethodName}"
                                        class="large-text"></td>
                                    <td class="large-text" th:text="${orderItem.orderStatus}"
                                        th:style="${orderItem.orderStatus == 'cancelled' ? 'color: red;' : (orderItem.orderStatus == 'delivered' ? 'color: green;' : '')}">
                                    </td>

                                    <td><a th:href="@{'/user/orderShow/' + ${orderItem.orderItemId}}"
                                           class="btn_3">Details</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:if="${totalPages > 1} " >

                            <div class="row mt-5">
                                <div class="col text-center" >
                                    <div class="block-27" >
                                        <ul>
                                            <li th:class="${currentPage == 0} ? 'disabled' : ''">
                                                <a th:if="${currentPage > 0}" th:href="@{/pro/userOrders(page=${currentPage - 1}, pageSize=${pageSize})}"><button class="btn-primary btn-fw custom-small-button">Previous</button></a>
                                                <span th:if="${currentPage <= 0}"><button class="btn-primary btn-fw custom-small-button">Previous</button></span>
                                            </li>
                                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                                th:class="${currentPage == i} ? 'actives' : ''">
                                                <a th:href="@{/pro/userOrders(page=${i}, pageSize=${pageSize})}" th:text="${i + 1}"></a>
                                            </li>
                                            <li th:class="${currentPage >= totalPages - 1} ? 'disabled' : ''">
                                                <a th:if="${currentPage < totalPages - 1}" th:href="@{/pro/userOrders(page=${currentPage + 1}, pageSize=${pageSize})}"><button class=" btn-primary btn-fw custom-small-button">Next</button></a>
                                                <span th:if="${currentPage >= totalPages - 1}"><button class=" btn-primary btn-fw custom-small-button">Next</button></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="mb-5 mt-5" th:unless="${orderItemsList != null and orderItemsList.size() > 0}">
                            <p>There are no order items. Please go and make a purchase.</p>
                        </div>
                        <a th:href="@{/user/products}" class="btn_3"><span>GO SHOP</span><i
                                class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
</main>
</section>
<!-- Footer End-->
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="../assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do
                                        eiusmod tem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul>
                                <li><a href="#">Woman Cloth</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#"> Man Accessories</a></li>
                                <li><a href="#"> Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 col-md-7">
                    <div class="footer-copy-right">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- JS here -->

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/assets/js/jquery.scrollUp.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

</body>

</html>