<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification Form</title>


</head>
<body >
<main class="container">

    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Your existing HTML content -->
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}" >
                                            No
                                        </a>
                                    </th>
                                    <th>
                                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}" >
                                            Date
                                        </a>
                                    </th>
                                    <th>
                                        <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}" >
                                            Amount
                                        </a>
                                    </th>
                                    <th> Payment</th>
                                    <th> Status </th>
                                    <th>Order status</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderItem, stat : ${orderItemsList}" style="align-items: center">
                                    <td th:text="${stat.index + 1}" class="large-text"></td>
                                    <td th:text="${orderItem.order.orderedDate}" class="large-text"></td>
                                    <td th:text="${orderItem.product.price * orderItem.orderItemCount}" class="large-text"></td>
                                    <td th:text="${orderItem.order.paymentStatus}" class="large-text"></td>
                                    <td th:text="${orderItem.order.paymentMethod.PaymentMethodName}" class="large-text"></td>
                                    <td class="large-text" th:text="${orderItem.orderStatus}" th:style="${orderItem.orderStatus == 'cancelled' ? 'color: red;' : ''}"></td>
                                    <td><a th:href="@{'/user/orderShow/' + ${orderItem.orderItemId}}" class="btn_3">Details</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${orderItemsList != null and orderItemsList.size() > 0}">
                            <p>There are no order items. Please go and make a purchase.</p>
                        </div>
                        <a th:href="@{/user/products}" class="btn_3"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>